body
{
   background-color: #FF0000;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Shape1
{
   border-width: 0;
}
#TextArt1
{
   border-width: 0;
}
